html, body {
    height: 100%;
    width: 100%;
}
body {
    margin-left: auto;
    margin-right: auto;
}
.wrapper-grid {
    min-height: 99%;
    display: grid;
    grid-template-areas: 
        'header header header'
        'main main right'
        'bottom bottom bottom'
        'footer footer footer';
    grid-template-rows: auto 1fr auto auto;
    column-gap: 20px;
    background-color: aliceblue;
    margin-top: 0;
}
.header {
    grid-area: header;
    background-color: darkgray;
}
.main {
    grid-area: main;
}
.right-container {
    grid-area: right;
    background-color: darkgray;
}
.bottom-container {
    grid-area: bottom;
    background-color: grey;
    padding: 10px;
}
.footer {
    grid-area: footer;
    background-color: black;
    color: white;
}
.code-preview {
    border-radius: 16px;
    box-shadow: inset 0 0 0 2px rgba(17,25,46,.1);
    background-color: #11192e;
    color: #f7f8fb;
    font-size: 14px;
}
.code-preview code {
    margin-left: 10px;
}